.day {
  background: #eee;
  color: black;
}
.night {
  background: #333;
  color: white;
}

@media (prefers-color-scheme: dark) {
  .day {
    background: #333;
    color: white;
  }
  .night {
    background: black;
    color: #ddd;
  }
}

@media (prefers-color-scheme: light) {
  .day {
    background: white;
    color: #555;
  }
  .night {
    background: #eee;
    color: black;
  }
}

.day,
.night {
  display: inline-block;
  padding: 1em;
  width: 7em;
  height: 2em;
  vertical-align: middle;
}
